
.history

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
**/node_modules/**/*
jspm_packages/
node_modules
coverage/**/**
# Build outputs
dist/
build/
temp/

# OS Files
.DS_Store
Thumbs.db

# IDE and Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# local
docs/build
llm-pack-output.md
